.z-edit-tree
  background: #111
  width: 800px
  padding: 16px
  margin: 16px auto

  > .title
    font-weight: bold
    margin-bottom: 8px

  > .input
    margin-bottom: 8px

  > .textarea
    margin-bottom: 8px
