.z-trees
  background: #111
  width: 800px
  padding: 16px
  margin: 16px auto

  > .title
    font-weight: bold
    margin-bottom: 8px

  > .note
    display: flex

    > .edit
      margin-left: 16px
